[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"alldebrid.py" = "==1.0.1"
setuptools = ">=65.5.1"
beautifulsoup4 = "==4.10.0"
httpx = "==0.24.0"
pysimdjson = "==5.0.2"
redis = "==4.5.5"
regex = "==2023.5.5"
requests = "==2.30.0"
requests-cache = "==1.0.1"
ujson = "==5.7.0"
urllib3 = "==1.26.15"
pillow = ">=9.2.0"
pyjwt = ">=2.4.0"
cryptography = ">=39.0.1"
ipython = ">=8.10.0"
numpy = ">=1.22.2"
oauthlib = ">=3.2.1"
wheel = "==0.38.2"

[dev-packages]

[requires]
python_version = "3.10"
